/* Base styling for the entire profile container */
.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    padding-top: 100px; 
    background-color: #f9f9f9;
    box-sizing: border-box;
}
label {
  
    font-weight: bold;
    padding-bottom: 10px;
}

.action-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1001; /* Ensure it's above other content */
}

.edit-profile-picture {
    cursor: pointer;
    color: #3d4c64; 
    text-decoration: none; 
    display: block; 
    margin-top: 8px; 
}


.left-section, .right-section {
    flex: 1;
    padding: 150px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px); 
}





.profile-picture-box {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.profile-picture-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #304f75;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px; 
}


button {
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    background-color: #3d4c64;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




button:hover {
    background-color: #0056b3;
}

/* Modal styling for interests */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 100%;
    padding: 20px;
    background-color: rgb(214, 228, 241);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal h2 {
    color: #333;
}

.modal ul {
    list-style-type: none;
    padding: 0;
}

.modal ul li {
    padding: 8px;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
}

.modal button {
    width: auto;
    padding: 8px 16px;
    margin-top: 20px;
    background-color: #4e78a8;
}

.modal button:hover {
    background-color: #2362c8;
}
.close-button {
    background: transparent;
    border: none;
    color: #000; /* Change color as needed */
    font-size: 20px;
    cursor: pointer;
}