.wishlist-container {
    width: 80%;
    margin: auto;
}

.wishlist-items {
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    gap: 10px;
    border-top: 1px solid #000;
}

.wishlist-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: contents;
}

.wishlist-item-name,
.wishlist-item-description,
.wishlist-item-interest {
    padding: 10px;
    background-color: #f9f9f9;
}

.wishlist-item-name {
    font-weight: bold;
}

.wishlist-item-interest {
    text-align: center;
    background-color: #e0e0e0;
}
